<section class="flex flex-col w-full">
  <span class="text-white text-center mt-5">Usuario: <strong><%= current_user.email %></strong></span>
  <div class="flex items-center justify-center mt-2">
    <%= button_to 'Log out', destroy_user_session_path, method: :delete, data: { turbo: false }, class: 'px-3 py-1 text-white bg-red-700 rounded font-semibold text-sm' %>
  </div>
  <h3 class="text-xl font-bold text-white mt-3 text-center mb-2">My Rooms</h3>
  <div class="flex flex-col px-5 gap-2 w-full" id="user_<%= "#{user.id}" %>_rooms">
    <% user.rooms.all.each do |room| %>
      <%= render 'sidebar/single_room', room: room %>
    <% end %>
  </div>
</section>
