<h3 class="flex text-xl font-bold">My Rooms</h3>
<% Room.all.each do |room| %>
  <%= link_to "#{room.name}",room_path(room), class:"font-semibold mx-2 bg-gray-100 text-black rounded text-sm px-1 py-3 my-5" %>
<% end %>
