<div class="flex flex-col w-2/6">
  <h3 class="font-bold text-3xl text-white"><%= room.name %> - Room</h3>
  <span class="text-white font-semibold">Users in this room: <%= room.users.count %></span>
</div>
