<main class="flex w-full items-center justify-center">
  <nav class="w-1/12 border-2 mx-1">
    <%= render 'shared/nav_bar' %>
  </nav>

  <section class="w-11/12 border-2 mx-1 flex flex-col items-center justify-center py-10 gap-5">
    <h1 class="font-bold text-4xl">Bienvenido - Chat App</h1>
    <p class="text-center font-semibold">This is a simple Chatroom for Rails App.</p>
    <%= link_to "New room", new_room_path, class: 'bg-green-700 text-white rounded px-4 py-2' %>
  </section>
</main>

