<%= turbo_frame_tag 'rooms_controller' do %>
  <main class="flex w-full h-screen justify-center bg-[#181D31]">
    <%= render 'sidebar/side_bar' %>

    <section class="w-5/6 flex flex-col items-center justify-center gap-5 h-screen">
      <%= image_tag('chat.png', width: 100) %>
      <h1 class="font-bold text-4xl text-white">Bienvenido - Chat App</h1>
      <p class="text-center font-semibold text-white">This is a simple Chatroom for Rails App.</p>
    </section>
  </main>
<% end %>
